@import '../../../css/index.scss';

.slider-container {
    width: 80vw;
    height: 65vh;
    margin-left: 10vw;
    padding-top: 100px;
    align-content: center;

    .slick-slide.slick-active.slick-current {
        width: auto;
    }

    .slick-slide.slick-active.slick-center.slick-current > div {
        width: 260px;
        min-height: 384px;
    }
    .slider-card-container {
        width: 230px !important;
        height: 354px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: aliceblue;
        border-radius: 16px;
    }

    img {
        width: 230px !important;
        height: 354px;
        border-radius: 16px;
    }

    .slick-slide.slick-active.slick-center.slick-current {
        transform: scale(110%);
        transition: ease-in-out .4s;
        margin-top: 20px;
    }
    
}
