@import '../../../css/index.scss';

.banner{
    margin-top: 136px;
    margin-bottom: 75px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: $text-white-400;
}