@import '../../../css/index.scss';

.information {
    margin-top: 200px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    h5{
        color: $accents-accent-400;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        margin-right: 60px;
    }
    .more-info{
        .underline{
            text-decoration: underline;
            font-family: 'Montserrat', sans-serif;
        }
        .muiBotton-label{
            text-align: center;
        }
        .buttons {
            color:$text-white-400;
            width: 80%;
            align-content: center;
            display: flex;
            gap: 40px;
            margin-right: 80px;
        }
    }
}

.movies-deck{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px 100px;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    flex-wrap: wrap;
    margin: 10px 0px;
    padding-bottom: 10px;
}

@media screen and (max-width: 576px){
    .information{
        width: 100%;
        margin-top: 64px;
        display: block;
    }
    .information .more-info .buttons{
        gap:25px;
        display: block;
    }
    .title{
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .btn-movies{
        text-align: center;
        width: 100%;
        margin: 0 auto !important;
    }
    .information h3{
        font-size: 30px;
        margin-top: 40px;
    }
}
@media screen and (min-width: 577px) and (max-width: 767px){
    .title{
        font-size: 20px;
        width: 100%;
        margin:0;
    }
    .information{
        display: block;
        text-align: center;
        margin-top: 64px;
    }
    .btn-movies{
        justify-content: center;
        width: 100% !important;

    }
    .information h3{
        font-size: 48px;
        margin-top: 10px;

    }
}