@import '../../css/index.scss';



.carousel-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
