@import "../../../css/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.container {
  .slider-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

    .slider-card-image {
      img {
        height: 354px;
        width: 230px;
        border-radius: 16px;
        
      }    
    }
  }
}

@media screen and (max-width: 1028px){
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        .slider-card {
            height: 60vh;
            align-items:initial;
    }
}
}

@media screen and (max-width: 576px){
	
    .container {
        .slider-card {
            height: 40vh;
            align-items:initial;
    }
    .modal{
        display: none;
    }
}
}
  
