@import '../../../css/index.scss';

.select-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-left: 40px;
    
    

    #demo-simple-select-filled{
        color: $accents-accent-400;
        align-self: baseline;
    }
}

